.app {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.header {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  gap: 10px;
  font-size: 24px;
  /* background-color: #1f2937;
  color: white; */
}

.hero-content {
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 10px;
}

.page-logo {
  max-width: 24px;
  max-height: 24px;
}

.info {
  display: flex;
  flex: 1;
  justify-content: center;
}

.quote {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
  margin: 10px;
}

.right {
  align-self: flex-end;
  margin-right: 10px;
}

.float-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

footer {
  align-self: center;
}
