@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,400&display=swap');

.app {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.header {
  flex: 1;
  display: flex;
  justify-content: space-between;
  /* margin: 10px; */
  gap: 10px;
  font-size: 18px;
  /* background-color: #1f2937;
  color: white; */
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero-content {
  display: flex;
  justify-content: center;
  flex: 1;
  /* margin: 10px; */
}

.hero-image {
  max-width: 300px;
  padding-right: 5px;
  margin-top: 60px;
  padding-left: 5px;
  border-radius: 10px;
}

.page-logo {
  font-size: 24px;
  color: #f9faf8;
}

.text-header {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.text-body {
  font-size: 18px;
  color: #e5e7eb;
}

.info {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.quote {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
  margin: 10px;
}

.right {
  align-self: flex-end;
  margin-right: 10px;
}

.float-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

footer {
  text-align: center;
}

.info-card-container {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  gap: 10px;
}

.info-card {
  /* border: 1px solid grey; */
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card img {
  border: 1px solid rgb(107, 218, 255);
  border-radius: 5%;
  max-width: 160px;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.hero-content,
footer,
.header {
  background-color: #1f2937;
  color: white;
}

.sign-up {
  background-color: #3882f6;
  color: white;
  border: transparent 1px;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 3px;
  width: 100px;
  text-align: center;
}

.sign-up:hover {
  background-color: white;
  color: #3882f6;
  transition: 0.3s ease-in-out;
}

.quote {
  background-color: #e5e7eb;
}

.quote p {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.float-container {
  max-width: 1000px;
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  margin: 10px;
}

.float-content {
  margin: 20px;
}

.float-container .sign-up {
  border: 1px solid white;
  margin: 2px;
}
